<!-- Styles -->
<link rel='stylesheet' type='text/css' href='css/Skeleton-2.0.4/css/skeleton copy.css'>
<link rel='stylesheet' type='text/css' href='css/Skeleton-2.0.4/css/normalize.css'>
<link rel='stylesheet' type='text/css' href='css/style.css'>
<button><a href='/pantry'>Back to your pantry</a></button>
<button><a href='/recipes'>Back to your recipe book</a></button>
<button><a href='/Search'>Search</a></button>