<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit recipe</title>
</head>
<body>
    <h1>Recipe Edit Page</h1>
    <form action='/recipes/<%=recipe.id%>?_method=PUT' method='POST'>
        <label for="name">Name:</label>
        <input type='text' name='name' value="<%=recipe.name%>">
        <label for='cost'>Price:</label>
        <input type='text' name='cost' value='<%=recipe.cost%>'>
        <label for='amount'>Amount:</label>
        <input type='text' name='amount' value='<%=recipe.amount%>'>
        <input type='submit' value='Submit'>
    </form>
    <button><a href='/recipes'>Back</a></button>
</body>
</html>