<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
</head>
<body>
    <h1>Add a recipe</h1>
    <form action='/recipes' method='POST'>
        <label for="name">Name:</label>
        <input type='text' name='name' required>
        <label for='cost'>Calories:</label>
        <input type='text' name='calories'>
        <label for='amount'>Ingredients:</label>
        <input type='text' name='ingredients' required>
        <input type='submit' value='Submit'>
    </form>
</body>
</html>