<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ingredient</title>
</head>
<body>
    <h1>Add an ingredient</h1>
    <form action='/pantry' method='POST'>
        <label for="name">Name:</label>
        <input type='text' name='name' required>
        <label for='cost'>Price:</label>
        <input type='text' name='cost'>
        <label for='amount'>Amount:</label>
        <input type='text' name='amount' required>
        <input type='submit' value='Submit'>
    </form>
</body>
</html>